.layout {
  color: var(--txt-color);
}

.layout__content {
  padding-left: var(--sidebar-width);
  background-color: var(--second-bg);
  min-height: 90vh;
}
.layout__content_TopNav {
  padding-left: var(--sidebar-width);
  background-color: var(--second-bg);
}

.layout__content-main {
  padding: 30px;
}
